/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tab_stab: tab_stab {
            compatible = "zmk,behavior-tap-dance";
            label = "TAB_STAB";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp LS(TAB)>;
        };

        ctab_stab: ctab_stab {
            compatible = "zmk,behavior-tap-dance";
            label = "CTAB_STAB";
            #binding-cells = <0>;
            bindings = <&kp LC(TAB)>, <&kp LC(LS(TAB))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TILDE  &kp Q  &kp W       &kp E        &kp R        &kp T              &kp Y               &kp U         &kp I         &kp O       &kp P     &kp BACKSLASH
&kp LCTRL  &kp A  &mt LWIN S  &mt LSHFT D  &mt LCTRL F  &mt LESS_THAN G    &mt GREATER_THAN H  &mt RCTRL J   &mt RSHIFT K  &mt RWIN L  &kp SEMI  &kp DOUBLE_QUOTES
&trans     &kp Z  &kp X       &kp C        &kp V        &kp B              &kp N               &kp M         &kp COMMA     &kp DOT     &kp FSLH  &trans
                              &ctab_stab   &lt 0 ENTER  &kp BACKSPACE      &kp SPACE           &lt 1 ESCAPE  &tab_stab
            >;
        };

        prog {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N0     &kp N1  &kp N2  &kp N3  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp EQUAL        &kp PLUS        &kp MINUS         &kp PERCENT   &trans
&trans  &kp POUND  &kp N4  &kp N5  &kp N6  &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp CARET        &kp AMPERSAND   &kp ASTERISK      &kp COLON     &trans
&trans  &kp PIPE   &kp N7  &kp N8  &kp N9  &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp EXCLAMATION  &kp UNDERSCORE  &kp SINGLE_QUOTE  &kp QUESTION  &trans
                           &trans  &trans  &kp BACKSPACE           &kp SPACE              &trans           &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
